################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

obj
bin
.vs
*.exe
*.dll
*.pdb
/@arma3MapExporter/*.xml
/MapExporter/packages
*.pbo
